body{
	background-color:gray;
}
div {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding:8%;
	padding-left: 710px;
	padding-right: 710px;
	padding-bottom:3%;
}
button {
	background-color:#4CAF50;
	border : none;
	padding:10px;
	padding-left:50px;
	padding-right:50px;
	color: white;
	text-align: center;
	border-radius:4px;
}
button:hover{background:green;}
input{
	border-radius:4px;
	border: 1px solid #ccc;
	padding:15px;
	padding-right:143px;

	
}





#loginButton {
	
	padding-left:60px;
	padding-right:60px;
}
.input{
	
	padding-right:151px;
}
input:focus {
    border: 3px solid #90EE90;
	
}
h1{
	
	margin-bottom:-90px;
	font-family:yu gothic ui light;
	font-size:50px;
	margin-left:30px;
	text-indent:625px;
	margin-top:150px
	
}
/*for the span from php*/
span{
	font-size:25px;
	font-family:yu gothic ui light;
}



