body{
	background-image:url("robot_bw_hand.jpg");
	background-size: 80%, 80%;
	background-repeat: no-repeat;
	 background-position: right;
}
div {
    border-radius: 10px;
    padding:8%;
	padding-top:3%;
	padding-left: 710px;
	padding-right: 710px;
	padding-bottom:3%;
}
form{
	padding-left:35%;
	
}
div button {
	background-color:#4CAF50;
	border : none;
	padding:10px;
	padding-left:50px;
	padding-right:50px;
	color: white;
	text-align: center;
	color:white;
	border-radius:4px;
}
button:hover{background:green;}
input{
	background-color:none;
	border-radius:4px;
	border: 1px solid #ccc;
	padding:15px;
	padding-right:145px;

	
}

#loginButton {
	
	padding-left:60px;
	padding-right:60px;
}

input:focus {
    border: 3px solid #90EE90;
	
}
h1{
	text-indent:20%;
	padding-bottom:5%;
}
/*for the span from php*/
span{
	font-size:25px;
	font-family:yu gothic ui light;
}



